DB_NAME=bfa_app
DB_USER=user
DB_PASSWORD=password 
DB_HOST=localhost
DB_PORT=8888
JWT_SECRET=Denture-Alienate4-Shaky
MAIL_USERNAME=bigfastapi
MAIL_PASSWORD=password
MAIL_FROM=bigfast@api.com
MAIL_PORT=593
MAIL_SERVER=mail.example.com
MAIL_FROM_NAME="Big Fast"
TEMPLATE_FOLDER="bigfastapi/templates"
EMAIL_VERIFICATION_TEMPLATE="email/welcome_email.html"
PASSWORD_RESET_TEMPLATE="email/password_reset.html"
FILES_BASE_FOLDER="filestorage"
FLUTTERWAVE_SEC_KEY=""
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
REDIRECT_URL=