<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/landingpage/create" method="POST" enctype="multipart/form-data">
    <p><input type="text" name="landing_page_name" placeholder="landing_page_name"></p>
    <p><input type="text" name="company_name" placeholder="company_name"> </p>
    <p><input type="text" name="body_title" placeholder="body_title"></p>
    <p><input type="text" name="body_title_text" placeholder="body_title_text"></p>
    <p><input type="text" name="body_content_text" placeholder="body_content_text"></p>

    <p><input type="text" name="body_content_logo_one_title" placeholder="body_content_logo_one_title"></p>
    <p><input type="text" name="body_content_logo_two_title" placeholder="body_content_logo_two_title"></p>
    <p><input type="text" name="body_content_logo_three_title" placeholder="body_content_logo_three_title"></p>
    <p><input type="text" name="body_content_logo_four_title" placeholder="body_content_logo_four_title"></p>
    <p><input type="text" name="body_content_logo_one_text" placeholder="body_content_logo_one_text"></p>
    <p><input type="text" name="body_content_logo_two_text" placeholder="body_content_logo_two_text"></p>
    <p><input type="text" name="body_content_logo_three_text" placeholder="body_content_logo_three_text"></p>
    <p><input type="text" name="body_content_logo_four_text" placeholder="body_content_logo_four_text"></p>
    <p><input type="text" name="body_content_text_2" placeholder="body_content_text_2"></p>

    <p><input type="text" name="body_content_text_2_subtext" placeholder="body_content_text_2_subtext"></p>
    <p><input type="text" name="body_content_text_3" placeholder="body_content_text_3"></p>
    <p><input type="text" name="body_content_text_3_subtext" placeholder="body_content_text_3_subtext"></p>
    <p><input type="text" name="body_content_text_3_subtext_2" placeholder="body_content_text_3_subtext_2"></p>
    <p><input type="text" name="body_content_text_3_subtext_3" placeholder="body_content_text_3_subtext_3"></p>
    <p><input type="text" name="body_content_text_4" placeholder="body_content_text_4"></p>
    
    <p><input type="text" name="footer_menu_title_1" placeholder="footer_menu_title_1"></p>
    <p><input type="text" name="footer_menu_title_2" placeholder="footer_menu_title_2"></p>
    <p><input type="text" name="footer_menu_title_1_option_1" placeholder="footer_menu_title_1_option_1"></p>
    <p><input type="text" name="footer_menu_title_1_option_2" placeholder="footer_menu_title_1_option_2"></p>
    <p><input type="text" name="footer_menu_title_1_option_3" placeholder="footer_menu_title_1_option_3"></p>
    <p><input type="text" name="footer_menu_title_1_option_4" placeholder="footer_menu_title_1_option_4"></p>

    <p> Company Logo</p>
    <p><input type="file" name="company_logo" placeholder="company_Logo"></p>
    <p>Section One Image</p>
    <p><input type="file" name="section_one_image_link" placeholder="section one image link"></p>
    <p>Body Logo One</p>
    <p><input type="file" name="body_h3_logo_one" placeholder="body h3 logo one"></p>
    <p>Body Logo Two</p>
    <p><input type="file" name="body_h3_logo_two" placeholder="body h3 logo two"></p>
    <p>Body Logo Three</p>
    <p><input type="file" name="body_h3_logo_three" placeholder="body h3 logo three"></p>
    <p>Body Logo Four</p>
    <p><input type="file" name="body_h3_logo_four" placeholder="body_h3_logo_four"></p>
    <p>Section Three Image</p>
    <p><input type="file" name="section_three_image" placeholder="section three image"></p>
    <p>Section Four Image</p>
    <p><input type="file" name="section_four_image" placeholder="section four image"></p>

    <button type="submit" name="submit">SUBMIT</button>
</form>
</body>
</html>