<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Hotels.ng Invoice</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body style="margin: 0; padding: 0;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td style="padding: 20px 0 20px 0;">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse; border: 1px solid #cccccc;">
                        <tr>
                            <td align="center" bgcolor="#00aeff" style="padding-top: 20px; padding-right: 0; padding-bottom: 20px; padding-left: 0;">
                                <img src="{{payment_link}}" alt="Hotels.ng Logo" width="150" style="display: block;" />
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="#ffffff" style="font-family: Arial, sans-serif; font-size: 14px; padding-top: 40px; padding-right: 30px; padding-bottom:10px; padding-left: 30px;">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td>
                                            Hello receiver_name,
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <p style="white-space: pre-line; text-align: left;">

                                                <b>additional_info</b>

                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="margin-top: 3px; padding-right: 0; padding-bottom:20px; padding-left: 0;">
                                            We at hotels.ng made is_pluralais_plural reservation is_plural for our customer is_plural at your hotel <b>vendor_name</b> in vendor_address, vendor_city, vendor_state State, Nigeria <b>between begin_date and end_date.</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-top: 0; padding-right: 0; padding-bottom: 15px; padding-left: 0;">
                                            Please find details of the reservation is_plural below:
                                        </td>
                                    </tr>
                                    <tr>
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td bgcolor="#00aeff" style="padding-top:10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                            <tr>
                                                                <td align="left" width="260" style="color: #ffffff; font-weight:bold">
                                                                    Reservation Details
                                                                </td>
                                                                <td align="right" width="260" style="color: #ffffff; font-weight:bold">
                                                                    Amount
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding-top:10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">

                                                           items


                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding-top: 0; padding-right: 0; padding-bottom: 10px; padding-left: 10px;">

                                                                  <table style="width: 100%; border-collapse:collapse;">
                                                                    <tr>
                                                                      <td style="background-color:#eee;border:1px solid #bbb;padding:5px;width:50%;">Total</td>
                                                                      <td style="background-color:#fff;padding:5px;border:1px solid #bbb;width:50%;text-align: right;">₦invoice_value</td>
                                                                    </tr>
                                                                    <tr>
                                                                      <td style="background-color:#eee;border:1px solid #bbb;padding:5px;width:50%;">Amount Paid</td>
                                                                      <td style="background-color:#fff;padding:5px;border:1px solid #bbb;width:50%;text-align: right;">₦paid_commission</td>
                                                                   </tr>
                                                                   <tr>
                                                                      <td style="background-color:#eee;border:1px solid #bbb;padding:5px;width:50%;">Balance Due</td>
                                                                      <td style="background-color:#fff;border:1px solid #bbb;padding:5px;width:50%;text-align: right;">₦unpaid_commission</td>
                                                                   </tr>
                                                                  </table>


                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="#ffffff" style="font-family: Arial, sans-serif; font-size: 14px; padding-top: 0; padding-right: 30px; padding-bottom:40px; padding-left: 30px;">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td bgcolor="#f6f6f6" style="padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td style="color: #708179; padding-top: 0px; padding-right: 0px; padding-bottom: 10px; padding-left: 0px">
                                                        Kindly find attached the invoice for our commission fee as we agreed at the time of the booking. If you require clarification on any issue or you would like to speak to a representative, you can call sender on:  sender_phone 08064560685 or email us at support@hotels.ng.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="color: #708179; padding-top: 0px; padding-right: 0px; padding-bottom: 5px; padding-left: 0px">
                                                        Payment can be made into the account number below:
                                                    </td>
                                                <tr>
                                                    <td style="color: #00aeff;">
                                                        Account Name: Hotel Booking Limited
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="color: #00aeff;">
                                                        Account Number: 0729243986
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="color: #00aeff;">
                                                        Bank Name: Access Bank
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#ffffff" style="padding-top: 20px; padding-right:0px; padding-bottom:20px; padding-left: 0;">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td>
                                                        Best Regards,
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        sender_name at Hotels.ng
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#ffffff" style="padding-top: 0px; padding-right:0px; padding-bottom:10px; padding-left: 0;">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td>
                                                        Hotel Booking Limited (RC: 1103947)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        No. 3 Birrel Avenue, Sabo, Yaba, Lagos.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Office Line: 08064560685
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>