@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;1,300;1,400&family=Montserrat:ital,wght@0,400;0,500;0,600;1,300;1,400;1,500;1,600;1,800;1,900&family=Permanent+Marker&display=swap");

* {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   list-style: none;
   text-decoration: none;
   box-sizing: border-box;
}

:root {
   --color-primary: #fda741;
   --color-secondary: #333cc1;

   --container-width-lg: 74%;
   --container-width-md: 86%;
   --container-width-sm: 84%;

   --transition: all 400ms ease;
}

body {
   font-family: "Montserrat", sans-serif;
}

.container {
   width: var(--container-width-lg);
   margin: 0 auto;
}

/* .section {
    padding: 6rem 0;
} */

section h2 {
   margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
   line-height: 1.2;
}
h1 {
   font-size: 2.8rem;
}
h2 {
   font-size: 2.4rem;
}

h3 {
   font-size: 1.6rem;
}

h4 {
   font-size: 1.3rem;
}

p {
   font-size: 14px;
   line-height: 1.5rem;
}

img {
   max-width: 100%;
   width: 100%;
   display: block;
   object-fit: cover;
}

a {
   color: black;
}

.logo {
   width: 80%;
   object-fit: contain;
}

.btn {
   background-color: var(--color-primary);
   color: white;
   padding: 0 1.2rem;
   border: 1px solid transparent;
   font-weight: 500;
   transform: var(--transition);
   border-radius: 10px;
   font-size: 14px;
   cursor: pointer;
   height: 44px;
}

/* NAVBAR */
nav {
   background-color: white;
   width: 100vw;
   height: 4rem;
   /* position:fixed; */
   /* top:0; */
   /* z-index: 11; */
   border-bottom: 1px solid #fda741;
}

/* .window.scroll {
    bac
} */
.nav_container {
   height: 4rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.responsive_menu {
   display: none;
}

.navlinks {
   display: flex;
   align-items: center;
   gap: 1.5rem;
}

.navlinks a {
   font-size: 1rem;
   text-transform: capitalize;
   transition: all 400ms ease;
   color: black;
}

.navlinks a:hover {
   color: #fda741;
}

.sign-in-up {
   display: flex;
   align-items: center;
   gap: 1rem;
   text-transform: capitalize;
   color: black;
}

/* header section */
header {
   position: relative;
   /* top:2rem; */
   overflow: hidden;
   /* height: 50vh; */
   margin: 2rem 0px;
}

.hero_container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
   gap: 50px;
   height: 100%;
}
.hero-left h1 {
   color: #00098a;
   text-align: left;
   font-style: normal;
   font-weight: 700;
   font-size: 52px;
   line-height: 63px;
}
.hero-left p {
   /* margin: 1rem 0 2.4rem; */
   text-align: left;
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 23px;
   margin: 27px 0px;
}

.hero-form-grid {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 0.5rem;
}

.hero-form-grid input {
   border: 1px solid rgba(51, 60, 193, 0.28);
   border-radius: 10px;
   height: 44px;
   padding: 10px;
}

.bg-style {
   background: #f3f3f3;
   /* position: relative; */
   /* overflow: hidden; */
}
.items-section {
   align-items: center;
   display: flex;
   justify-content: center;
   padding: 4rem 0px;
}


.wrap-heading h3 {
   display: flex;
   justify-content: center;
   padding: 4rem 0;
   font-style: normal;
   font-weight: 700;
   font-size: 32px;
   line-height: 124.8%;

   text-align: center;

   color: #00098a;
}
.items_wrapper {
   display: flex;
   justify-content: space-between;
   gap: 20px;
   padding-bottom: 10rem;
}
.single-items {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   /* width: 20%; */
   /* width: 30%; */
}

.single-items h5 {
   margin: 1rem 0px;
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 124.8%;
}

.single-items img {
   width: 30%;
   object-fit: contain;
   margin: 1rem 0px;
}

.started_wrapper {
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
   /* gap: 5rem; */
   height: 100%;
   padding: 2rem 0px;
}

.section-left {
   padding: 0 5rem 0rem 0;
}
.section-left h2 {
   font-style: normal;
   font-weight: 700;
   font-size: 32px;
   line-height: 124.8%;
   margin: 25px 0px;

   color: #00098a;
}
.section-left p {
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 160.3%;
   margin: 35px 0px;
}

.section-right img {
   margin-top: -80px;
}

.about_container {
   background: var(--color-secondary);
      color: white;
   display: grid;
   grid-template-columns: repeat(8, 1fr);
   justify-content: space-between;
   align-items: center;
   gap: 30px;
   margin: auto;
}

.about-section-left {
   margin: 0px 10rem 0px 10rem;
   grid-column: span 7;
}

.about-section-left h2 {
   margin: 2rem 0;
}

.about-section-left p {
   margin: 1.2rem 0;
}
.about-section-right {
   width: 17vw !important;
   /* height: 70%; */
   float: right;
   align-items: flex-end;
   align-content: flex-end;
   grid-column: span 1;
   height: 630px;
   
}


.about-bg {
   position: relative;
   top: 2rem;
   overflow: hidden;
   /* height: 15vh; */
   margin-bottom: 2rem;
   align-items: center;
   text-align: center;
   color: #333cc1;
}

.hero-form-grid {
   display: grid;
   align-items: center;
}

footer {
   background: #1f1558;
}

.footer-wrapper {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   /* position: relative; */
   top: 2rem;
   overflow: hidden;
   height: 40vh;

   padding-top: 6rem;
   color: white;
   gap: 10px;
   text-transform: capitalize;
}
.menu-links li {
   padding: 1rem 0;
}

.bottom-section {
   width: 710px;
   text-align: center;
   align-items: center;
   align-content: center;
   display: flex;
   justify-content: center;
   justify-items: center;
   padding-top: 2rem;
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 700;
   font-size: 50px;
   line-height: 60px;
   text-align: center;

   color: #00098A;
}

.footer-form-grid {
   display: grid;
   align-items: center;
   grid-template-columns: 1fr;
   margin-bottom: 0px;
   gap: 1rem;
   width: 500px;
   padding-bottom: 3rem;
}

.footer-form-grid input {
   border: 1px solid rgba(51, 60, 193, 0.28);
   border-radius: 10px;
   height: 44px;
   padding: 10px;
}
.form_row {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
}
.footer_contact {
   padding: 10px 0px;
   color: white;
   gap: 10px;
}
.small_screen_img {
   display: none;
}

.large_screen_img {
   display: block;
}
#button-grid {
    width: 50%;
    margin: 20px 0px
}

@media screen and (max-width: 1200px) {
   .about_container {
      background: var(--color-secondary);
      /* overflow: hidden; */

      /* margin-bottom: 5rem; */
      color: white;

      display: grid;
      grid-template-columns: repeat(6, 1fr);
      justify-content: space-between;
      align-items: center;
      gap: 20px;
   }

   #button-grid {
    width: 100%;
    margin: 20px 0px
}
   .about-section-left {
      margin: 0px 0rem 0rem 7rem;
      grid-column: span 5;
      padding: 0px 20px;
   }

   .about-section-right {
      width: 27vw !important;
      /* height: 70%; */
      float: right;
      align-items: flex-end;
      align-content: flex-end;
      grid-column: span 1;
      background-image: url("/img/1.png");
      height: 630px;
      margin-left: 5rem;
      /* width: 200px; */
   }
   
   .small_screen_img {
      display: none;
   }

   .large_screen_img {
      display: block;
      width: 100%;
   }

}


 @media only screen and (min-width: 610px) and (max-width: 900px) {
   .container {
      width: var(--container-width-md);
   }
   .small_screen_img {
      display: none;
   }

   #button-grid {
    width: 100%;
    margin: 20px 0px
}
   .large_screen_img {
      display: block;
      width: 90%;
   }
   .hero_container {
      gap: 20px;
   }

   .hero-right img {
      height: auto;
      align-items: center;
      object-fit: contain;
   }

   .hero-left h1 {
      font-size: 42px;
      text-align: left;
      font-style: normal;
      font-weight: 700;
      /* font-size: 52px; */
      line-height: 53px;
   }
   h2 {
      font-size: 1.7rem;
   }
   h3 {
      font-size: 1.4rem;
      margin: 20px 0;
   }
   h4 {
      font-size: 1, 2rem;
   }

   .responsive_menu {
      display: inline-block;
      font-size: 1.5rem;
      /* color: #fda741;
      cursor: pointer; */
      justify-content: center;
   }

   #open-menu-btn {
       cursor: pointer;
       color: #fda741;
        background-color: white;
   }

   #close-menu-btn {
    cursor: pointer;
    color: #fda741;
    
   }
   .sign-in-up {
      display: none;
   }
   #close-menu-btn {
      font-size: 22px;
      width: 50px;
      display: none;
   }
   .navlinks {
      position: fixed;
      right: 5%;
      height: fit-content;
      width: 18rem;
      flex-direction: column;
      gap: 0;
      top: 4rem;
      display: none;
      z-index: 2;
   }

   .navlinks li {
      width: 100%;
      height: 5.8rem;
   }

   .navlinks li a {
      width: 100%;
      height: 100%;
      display: grid;
      background-color: #fda741;

      display: grid;
      place-items: center;
   }

   .navlinks li a:hover {
      background-color: white;
      color: black;
   }

   .section-left {
      padding: 0;
   }

   .about_container {
      background: var(--color-secondary);
    
      color: white;

      display: grid;
      grid-template-columns: repeat(6, 1fr);
      justify-content: space-between;
      align-items: center;
      gap: 20px;
   }

   .about-section-left {
      margin: 0px 0rem 0rem 3rem;
      grid-column: span 5;
      padding: 0px 20px;
   }

   .about-section-right {
      width: 21vw !important;
      float: right;
      grid-column: span 1;
      background-image: url("/img/1.png");
      height: 630px;
      width: 200px;
   }
   
}

@media only screen and (min-width: 350px) and (max-width: 600px) {
   /* @media screen and (max-width: 600px) { */
   .container {
      width: var(--container-width-sm);
      /* text-align: center; */
   }

   .nav_container {
      right: 3%;
   }
   header {
      /* height: 100vh; */
      margin: 1rem 0px;
   }
   .hero_container {
      grid-template-columns: 1fr;
      text-align: center;
      gap: 10px;
      /* margin-top: 2rem; */
   }

   .started_wrapper {
      display: flex;
      flex-direction: column;
   }
   .section-left {
      order: 2;
      margin-bottom: 2rem;
      /* margin:2rem 0;    */
   }
   .hero-form-grid {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr;
      margin-bottom: 0px;
      gap: 1rem;
   }

   .responsive_menu {
      display: inline-block;
      font-size: 1.5rem;
      /* color: #fda741;
      cursor: pointer; */
      justify-content: center;
   }

   #open-menu-btn {
       cursor: pointer;
       color: #fda741;
        background-color: white;
   }

   #close-menu-btn {
    cursor: pointer;
    color: #fda741;
    
   }
   .sign-in-up {
      display: none;
   }
   #close-menu-btn {
      font-size: 22px;
      width: 50px;
      display: none;
   }
   .navlinks {
      position: fixed;
      right: 5%;
      height: fit-content;
      width: 18rem;
      flex-direction: column;
      gap: 0;
      top: 4rem;
      display: none;
      z-index: 2;
   }

   .navlinks li {
      width: 100%;
      height: 5.8rem;
   }

   .navlinks li a {
      width: 100%;
      height: 100%;
      display: grid;
      background-color: #fda741;

      display: grid;
      place-items: center;
   }

   .navlinks li a:hover {
      background-color: white;
      color: black;
   }

   .section-left {
      padding: 0;
   }

   #button-grid {
       width: 100%;
       margin: 20px 0px
   }
   .hero-left p {
      line-height: 1.7rem;
   }
   footer {
      margin-top: 5px;
   }
   .footer-wrapper {
      /* display: grid; */
      grid-template-columns: 1fr;
      align-items: center;
      margin-top: 3rem;
      padding-top: 0px;
   }
   .menu-links li a {
      color: white;
   }

   .about_container {
      background: var(--color-secondary);
      /* overflow: hidden; */

      /* margin-bottom: 5rem; */
      color: white;

      display: grid;
      grid-template-columns: repeat(6, 1fr);
      justify-content: space-between;
      align-items: center;
      gap: 20px;
   }

   .about-section-left {
      margin: 0px 0rem 0rem 2rem;
      grid-column: span 4;
      padding: 0px 20px;
   }

   .about-section-right {
      width: 21vw !important;
      grid-column: span 2;
   }

   
   .items_wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
   }

   .form_row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
   }

   .footer-form-grid {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr;
      margin-bottom: 0px;
      gap: 1rem;
      /* width:355px; */
      padding-bottom: 1rem;
   }

   .footer-form-grid input {
      border: 1px solid rgba(51, 60, 193, 0.28);
      border-radius: 10px;
      height: 44px;
      padding: 10px;
   }

   .form_row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
 }
}
