<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/landingpage/create" method="POST" enctype="multipart/form-data">
    <p><input type="text" name="landingPage_name" placeholder="landingPage_name"></p>
    <p><input type="text" name="company_Name" placeholder="company_Name"> </p>
    <p><input type="text" name="Body_title" placeholder="Body_title"></p>
    <p><input type="text" name="Body_title_text" placeholder="Body_title_text"></p>
    <p><input type="text" name="Body_content_text" placeholder="Body_content_text"></p>

    <p><input type="text" name="Body_content_logo_One_title" placeholder="Body_content_logo_One_title"></p>
    <p><input type="text" name="Body_content_logo_Two_title" placeholder="Body_content_logo_Two_title"></p>
    <p><input type="text" name="Body_content_logo_Three_title" placeholder="Body_content_logo_Three_title"></p>
    <p><input type="text" name="Body_content_logo_Four_title" placeholder="Body_content_logo_Four_title"></p>
    <p><input type="text" name="Body_content_logo_One_text" placeholder="Body_content_logo_One_text"></p>
    <p><input type="text" name="Body_content_logo_Two_text" placeholder="Body_content_logo_Two_text"></p>
    <p><input type="text" name="Body_content_logo_Three_text" placeholder="Body_content_logo_Three_text"></p>
    <p><input type="text" name="Body_content_logo_Four_text" placeholder="Body_content_logo_Four_text"></p>
    <p><input type="text" name="Body_content_text_2" placeholder="Body_content_text_2"></p>

    <p><input type="text" name="Body_content_text_2_subtext" placeholder="Body_content_text_2_subtext"></p>
    <p><input type="text" name="Body_content_text_3" placeholder="Body_content_text_3"></p>
    <p><input type="text" name="Body_content_text_3_subtext" placeholder="Body_content_text_3_subtext"></p>
    <p><input type="text" name="Body_content_text_3_subtext_2" placeholder="Body_content_text_3_subtext_2"></p>
    <p><input type="text" name="Body_content_text_3_subtext_3" placeholder="Body_content_text_3_subtext_3"></p>
    <p><input type="text" name="Body_content_text_4" placeholder="Body_content_text_4"></p>
    
    <p><input type="text" name="Footer_menu_title_1" placeholder="Footer_menu_title_1"></p>
    <p><input type="text" name="Footer_menu_title_2" placeholder="Footer_menu_title_2"></p>
    <p><input type="text" name="Footer_menu_title_1_option_1" placeholder="Footer_menu_title_1_option_1"></p>
    <p><input type="text" name="Footer_menu_title_1_option_2" placeholder="Footer_menu_title_1_option_2"></p>
    <p><input type="text" name="Footer_menu_title_1_option_3" placeholder="Footer_menu_title_1_option_3"></p>
    <p><input type="text" name="Footer_menu_title_1_option_4" placeholder="Footer_menu_title_1_option_4"></p>

    <p> Company Logo</p>
    <p><input type="file" name="company_logo" placeholder="company_Logo"></p>
    <p>Section One Image</p>
    <p><input type="file" name="section_One_image_link" placeholder="section One image link"></p>
    <p>Body Logo One</p>
    <p><input type="file" name="Body_H3_logo_One" placeholder="Body H3 logo One"></p>
    <p>Body Logo Two</p>
    <p><input type="file" name="Body_H3_logo_Two" placeholder="Body H3 logo Two"></p>
    <p>Body Logo Three</p>
    <p><input type="file" name="Body_H3_logo_Three" placeholder="Body H3 logo Three"></p>
    <p>Body Logo Four</p>
    <p><input type="file" name="Body_H3_logo_Four" placeholder="Body_H3_logo_Four"></p>
    <p>Section Three Image</p>
    <p><input type="file" name="section_Three_image" placeholder="section Three image"></p>
    <p>Section Four Image</p>
    <p><input type="file" name="section_Four_image" placeholder="section Four image"></p>

    <button type="submit" name="submit">SUBMIT</button>
</form>
</body>
</html>