* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   list-style: none;
   scroll-behavior: smooth;
}

h1 {
   font-size: 52px;
   font-weight: 700;
   font-style: normal;
   line-height: 63px;

   color: #00098a;
   margin: 20px 0px;
}

h3 {
   font-style: normal;
   font-weight: 700;
   font-size: 32px;
   line-height: 124.8%;
   margin: 20px 0px;

   color: #00098a;
}
p {
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 23px;
   margin: 20px 0px;
}

a {
   color: black;
}
input {
   background: #ffffff;
   border: 1px solid rgba(51, 60, 193, 0.28);
   border-radius: 10px;
   height: 44px;
}

header {
   position: fixed;
   width: 100%;
   right: 0;
   top: 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
   z-index: 111;
   padding: 10px 320px;
   border-bottom: 1px solid #fda741;
   background-color: white;
}

.navlinks,
.sign-in-up {
   display: flex;
   padding: 15px 20px;
   gap: 15px;
   text-transform: capitalize;
   font-weight: 500;
}

.navlinks a,
.sign-in-up a {
   text-decoration: none;
   /* list-style: none; */
}
#menu-icon {
   cursor: pointer;
   display: none;
}

section {
   padding: 75px 16.7%;
}

.hero-section {
   width: 100%;
   min-height: 85vh;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 5rem;
   align-items: center;
   background-color: white;
   clip-path: polygon(
      0 0,
      100% 0,
      100% 20%,
      100% 84%,
      92% 100%,
      0 100%,
      0% 80%,
      0% 20%
   );
}

.hero-right img {
   max-width: 100%;
   width: 630px;
   height: auto;
}

.hero-grid {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 15px;
}

.hero-grid input {
   padding: 0px 10px;
}
.container-grid {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 15px;
}

.btn {
   display: inline-block;
   padding: 10px 30px;
   background-color: #fda741;
   border-radius: 8px;
   cursor: pointer;
   color: white;
   font-size: 14px;
}

main {
   background-color: #333cc1;
}

.sign-in-up {
   display: flex;
   justify-content: center;
   align-items: center;
}
.items-section {
   background: #f3f3f3;
   width: 100%;
   min-height: 60vh;
   clip-path: polygon(
      0 0,
      92% 0%,
      100% 20%,
      100% 80%,
      100% 100%,
      0% 100%,
      0% 50%,
      0% 20%
   );
}
.items_wrapper {
   /* display: flex;
 text-align: center; */
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, auto));
   grid-gap: 2rem;
   align-items: center;
   margin-top: 4rem;
}
.single-items {
   padding: 10px;
   flex: 25%;
   margin-top: 25px;
   text-align: center;
}
.bg-style {
   background-color: #fda741;
}
.wrap-heading {
   text-align: center;
}

.started_wrapper {
   width: 100%;
   min-height: 40vh;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 5rem;
   align-items: center;
}

.about_container {
   background-color: #333cc1;
}

.about_wrapper {
   display: flex;
   width: 100%;
   min-height: 40vh;
}
.bottom-section {
   text-align: center;
   font-weight: 700;
   font-size: 50px;
   line-height: 60px;
   text-align: center;

   color: #00098a;
   background-color: white;
   clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 4% 100%, 0 68%);
   /* clip-path: polygon(0 0, 92% 0%, 100% 20%, 100% 80%, 100% 100%, 0% 100%, 0% 50%, 0% 20%); */
}

.about-bg {
   background-color: #fda741;
}

.form_bg {
   background: #333cc1;
}
.form_wrapper {
   background: white;
   clip-path: polygon(4% 0%, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 28%);
}

.footer {
   background: #1f1558;
}

.footer-wrapper {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   color: white;
   text-transform: uppercase;
}

.footer_heading h3 {
   color: #fda741;
}
.footer_heading p a {
   color: white;
}
.menu-links li {
   padding: 8px 0px;
}
.menu-links li a {
   color: white;
   text-decoration: none;
   text-transform: capitalize;
}
.container-grid {
   margin: 0px 80px;
}
.container-grid input {
   padding: 0px 10px;
}

@media (max-width: 1500px) {
   header {
      padding: 15px 32px;
   }

   @media (max-width: 1060px) {
      #menu-icon {
         display: block;
      }

      header .navlinks,
      .sign-in-up {
         position: absolute;
         top: -400px;
         right: 0;
         left: 0;
         display: flex;
         align-items: center;
         display: flex;
         flex-direction: column;
         text-align: center;
         transition: 0.4s;
         background-color: white;
      }
      header .navlinks,
      .sign-in-up {
         display: block;
         padding: 1.6rem;
      }
      header .navlinks .active {
         top: 86px;
      }
   }

   @media (max-width: 950px) {
      .hero-section {
         display: grid;
         grid-template-columns: 1fr;
         /* text-align: center; */
         margin-top: 80px;
      }

      .hero-left,
      .hero-grid {
         grid-template-columns: 1fr;
      }

      section {
         padding: 20px 20px;
      }
      .hero-right {
         margin-bottom: 40px;
      }
      .hero-section {
         clip-path: polygon(
            0 0,
            100% 0,
            100% 20%,
            100% 94%,
            92% 100%,
            0 100%,
            0% 80%,
            0% 20%
         );
      }
      .items-section {
         clip-path: polygon(
            0 0,
            92% 0%,
            100% 8%,
            100% 80%,
            100% 100%,
            0% 100%,
            0% 50%,
            0% 20%
         );
      }
      .items_wrapper {
         padding: 20px;
      }
      .started_wrapper,
      .container-grid {
         grid-template-columns: 1fr;
      }
      .bottom_wrapper h2 {
         font-size: 52px;
         padding: 40px 0px;
         border: none;
      }
      .container-grid input {
         height: 44px;
         padding: 0px 10px;
      }
      .footer-wrapper {
         display: grid;
         grid-template-columns: 1fr;
      }
      .about_wrapper {
         display: flex;
      }
      .about-section-left {
         flex: 70%;
      }
      .navlinks.responsive {
         position: relative;
      }

      .navlinks a {
         float: none;
         display: block;
         text-align: left;
      }
   }
}
